.rowC{display:flex; flex-direction:row;}
.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}
#infoDiv {
    background-color: white;
    padding: 10px;
    width: 260px;
    margin: 5px;
    position: absolute;
    bottom: 15px;
    right: 10px;
    font-size: 14px;
    display: none;
}
